{{title}}
<br>
<br>
<div>
 <form action="/trivia" method="POST">
  <button id='word'>Word</button>
 </form>

 <form action="/randomuser" method="POST">
  <button id='user'>User</button>
 </form>
</div>
